<div class="container">
  <h1 class="center underline">Jester</h1>

  <div id="jokelist">
    <h4 class="center underline"> Recent Jokes </h4>
      <%= render "partials/all_jokes" %>
  </div>

  <div id="comments">
    <h4 class="center underline"> Recent Comments </h4>
      <%= render "partials/all_comments" %>
  </div>

</div>