<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <ul class="left">
      <li id="list-header"><a href="/">Jester</a></li>
      <% if current_user %>
      <li id="list-header"> | <a href="/joke/new">New</a></li>
      <% end %>
    </ul>
    <ul class="right">
      <% if current_user %>
        <li id="list-header"><a href="/user/<%=current_user.id%>"><%=current_user.name%></a></li> |
        <li id="list-header"><a href="/logout">Logout</a></li>
      <% else %>
        <li id="list-header"><a href="/login">Login</a></li> |
        <li id="list-header"><a href="/signup">Sign up</a></li>
      <% end %>
    </ul>
  </header>
  <img id="haha" src="/imgs/laugh.png">
  <%= yield %>
  </body>
</html>
