<div class="container">

  <div id="user-info">
    <h4 class="center underline"><%= @user.name %></h4><br>
    <div id="profile"></div>
    Jester born: <%= time(@user) %> days ago<br>
  </div>

  <div id="jokelist">
    <h4 class="center underline">HAHAHA HA HA Ha ha</h4>
    <%=erb :'partials/_user_jokes' %>
  </div>

  <div id="comments">
    <h4 class="center underline">What you say?</h4>
    <%=erb :'partials/_user_comments' %>
  </div>

</div>