<ul>
  <% @comments.order(:created_at).reverse.each do |comment|%>
  <li>
    <span class="small">
      <%= link_to "#{comment.user.name}", user_path(comment.user.id) %>
      said "<%= comment.message %>" for
      <%= link_to "this joke | #{time(comment)} moons ago", joke_path(comment.joke_id)%>
    </span>
  </li>
  <% end %>
</ul>
