// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.small {
  font-size: 10px;
}

.hr{
  border-bottom: 2px solid #8e44ad;
}

button {
  background: #dae1e4;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 14px;
  width: 400px;
  padding: 0;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}

header{
  height: 55px;
  background: url(joker.jpg);
  background-position: -5px;
  background-repeat: no-repeat;
  background-color: black;
  z-index: 10;
}

.left {
  margin-top: 1;
  margin-left: 30px;
  float: left;
  list-style-type: none;
}

.right {
  margin-top: 1;
  margin-right: 30px;
  float: right;
  list-style-type: none;
}

header ul li {
  display: inline;
}

#list-header {
  font-weight: bolder;
  font-size: 20px;
}

#list-header a {
  text-decoration: none;
}

body{
  background-color: #bdc3c7;
  font-family: 'Arimo', sans-serif;
  position: relative;
  margin: 0px;
}

.container {
 width: 80%;
 margin: auto;
}

#intro {
  width: 50%;
}

#welcome {
  font-size: 48px;
  color: white;
}

#haha {
  height: 750px;
  opacity: 0.1;
  position: absolute;
  z-index: -1;
  margin-left: 500px;
}

#profile {
  height: 100px;
  width: 100px;
  margin-top: -80px;
  margin-left: 85%;
  border: 2px solid #8e44ad;
  border-radius: 100%;
  background: url(lego.jpg);
  background-position: -5px -5px;
  background-repeat: no-repeat;
  background-size: 120%;
  position: relative;
}

#jokelist {
  margin-top: 50px;
  position: relative;
  width: 60%;
  overflow: scroll;
  height: 600px;
  display: inline-block;
  float: left;
  border: 4px inset #8e44ad;
  border-radius: 5%;
}

#comments {
  margin-top: 50px;
  position: relative;
  width: 35%;
  overflow: scroll;
  height: 600px;
  display: inline-block;
  float: right;
  border: 4px outset #8e44ad;
  border-radius: 5%;
}

#user-info {
  height: 100px;
  padding-top: 15px;
  width: 100%;
}

#new-joke {
  margin-left: 50px;
}

#form {
  list-style-type: none;
}

#form li {
  margin: 5px auto;
}

ul li {
  list-style-type: none;
  padding-bottom: 10px;
}

#text {
  width: 800px;
}

.edit{
  border: 2px inset #8e44ad;
  width: 90px;
}

a {
  color: #8E0009;
}

a:hover {
  color: #69BB01;
}