<!-- TODO: Style out the br -->
<div class="container">
  <h2 class="center">What do we call you, Jester?</h2>
  <form action="/login" method="post">
    <input type="hidden" name="_method" value="put">
    Username:<br>
    <input type="text" name="name" placeholder="Jester Name"><br>
    Password:<br>
    <input type="password" name="password" placeholder="Safety Word"><br>
    <input type="submit" value="Time for the funnies">
  </form>
</div>