<div class="container">
  <h4 class="underline center">Did no one laugh?</h4>
  <form action='/jokes/<%=@joke.id%>' method ='post'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Try again next time'>
  </form>
</div>