<div class="container">
  <h4 class="center underline">Edit your joke!</h4>

  <form action="/jokes/<%=@joke.id%>" method='post'>
    <input id="text" type='hidden' name='_method' value='put'/>
    <input id="text" type='text' placeholder='Line 1' name='line1' value="<%=@joke.line1%>" /><br>
    <input id="text" id="contentBox" type='text' placeholder="What's the punch line?" name='line2' value="<%=@joke.line2%>" /><br>
    <br>
    <input type='submit' value='Fix your unfunny'/>
  </form>
</div>