<div class="container">
  <h4 class="center underline">Got a good joke?</h4>
  <ul id="form">
    <%= form_for @new_joke do |f|%>
      <li>Line 1:</li>
      <li><%= f.text_field :line1, id: "text"%></li>
      <li>Line 2:</li>
      <li><%= f.text_field :line2, id: "text"%></li>
    <%= submit_tag "TELL THE WORLD" %>
    <% end %>
  </ul>
</div>