<div class="container">
  <h4 class="center underline">Why so sneaky?</h4>

  <%= form_for @comment do |f|%>
    <%= f.text_field :message, id: "text"%></li>
    <%= hidden_field_tag "joke_id", @comment.joke_id %>
    <%= submit_tag "Submit" %>
  <% end %>
</div>